/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
:root{
  --page-width:90vw;
  --main-element-hight:60vh;
  --main-color:  #306e42;
  --secondary-color: #304235;
  --accent-color: #256c4a;
  --card-color:#ffffff;
  
  --fs-1:40px;
  --fs-2:30px;
  --fs-3:18px;

  --img-margin-padding:10px;
}
body{
  font-family:  "sans-serif";
  color: white;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--secondary-color);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(var(--main-color), black);
}
nav{
  color: white;
  z-index: 999;
  background-color: var(--main-color);
  padding: 0;
  margin: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  max-height: 64px;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 2;
}
nav li{
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  width: calc(100vw/3);   
  display: flex;
  justify-content: center;
}
nav ul .logo{
  justify-content: flex-start;
}
nav ul .links{
  justify-content: flex-end;
}

nav ul .links .link-container{
  margin-right: 30px;
}
nav input{ /*Search*/
  padding: 7px;
  border-radius: 25px;
  font-size: 16px;
  background-color: white;
  border-color: black;
  border-width: 2px;
  outline: 0;
}
nav img{
  width: 280px;
  height: 50px;
  margin: 14px;
}
nav li a{
  text-align: center;
  font-size: 32px;
  padding: 5px 25px;
  color: white;
  text-decoration: none;
  border-radius: 30px;
}
nav li a:hover{
  background-color: var(--accent-color);
}
nav li .active{
  background-color: var(--accent-color);
}
nav ul li .searchWrapper{
  display: flex;
  align-items: center;
  gap: 5px;
}
nav ul li .searchWrapper #search{
  border-radius: 20px;
  padding: 5px;
}
nav ul li .searchWrapper #search:hover{
  background-color: var(--accent-color);
  cursor: pointer;
}
.container{
  display: flex;
  flex: 1;
}
.column-center{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row-center{
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/*
Padding and margin for all blocks
*/
.intro,.intro-tripple{
  margin-top: 50px;
  margin-bottom: 50px;
}
/*
INTRO
*/
.intro{
  width: var(--page-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  border-radius: 25px;

  box-shadow: 10px 10px 5px #20301f;
  background-color: var(--card-color);
  color: black;
}
.intro-txt{
  display: flex;
  flex-direction: column;
  padding: 3rem;
}
.intro h2{
  font-size: var(--fs-1);
  border-bottom: solid;
  border-color: var(--accent-color);
  padding-bottom: 1rem;
  margin: 0;
}
.intro p{
  font-size: var(--fs-2);
}
.intro img{
  max-width: calc(var(--page-width)/2);
}

/*
Margin and padding for all images
*/
.intro .image,.intro-tripple .image{
  margin: var(--img-margin-padding);
  padding: var(--img-margin-padding);
}
/*
INTRO-TRIPPLE
*/
.intro-tripple{
  width: var(--page-width);
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  border-top: solid;
  border-color: var(--accent-color);
}

.intro-tripple img{
  width: 100%;
}

.intro-tripple .image{
  flex: 1;

  box-sizing: border-box;
} 

.intro-tripple .image p{
  font-size: var(--fs-2);
  text-align: center;
  padding: 15px;
  margin: 0;
  border-bottom: solid;
  border-color: var(--accent-color);
}
/*
FOOTER
*/
footer{
  position: relative;
  bottom: 0;
  width: 100vw;
  height: 15vh;
  background-color: var(black);
  z-index: 50;
  display: flex;
  justify-content:space-between;
  align-items: center;
  color: white;
}

footer ul{
  list-style: none;
}

footer ul li a{
  color: white;
  text-decoration: none;
}

.footer-links{
  font-size: var(--fs-2);
  display: flex;
}

.footer-links a{
  margin: 3rem;
  padding: 10px;
}

.footer-links a:hover{
  text-decoration: underline;
}

.footer-contact {
  font-size: var(--fs-1);
  margin: 3rem;
  
}

.footer-contact h3{
  margin: 0;
  margin-bottom: 10px;
  text-decoration: underline;
}

@media screen and (max-width: 1750px){
  :root{
      --page-width:85vw;
  }
  body{
      overflow-y: scroll;
  }
}

@media screen and (max-width: 1450px){
  :root{
      --page-width:100vw;
  }
  body{
      overflow-y: scroll;
  }
}

